body{
    background: rgba(236, 82, 75, 0.8);
}

.container{
    max-width: 600px;
}

input[type=text],
input[type=text]:focus{
    color: #fff;
    background: rgba(245, 180, 97, 0.3);
    border: none;
    font-weight: bold;
    max-width: 400px;
}

.todos li{
    background: #f5b461;
    font-weight: bold;
}

.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}